@import '../../scss/media';

.modal {
    .modalContent {
        display: flex;
        flex-direction: column;
        width: 800px;
        max-height: 80%;

        @include mediaZr() {
            width: 100%;
            max-height: 100%;
        }
    }

    .modalBody {
        overflow-y: auto;
    }

    .modalHeader {
        background: #4F505B;
        height: 50px;
    }

    .modalTitle {
        font-size: 16px;
        font-weight: bold;
    }

    .modalBody {
        border: 0;
    }
}
