@import '../../scss/media';

.content {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 0 0;
}

.contentBody {
  min-height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}

.contentFooter {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nextContent {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: $colorLinkHover;
    color: $colorLinkHover;
    //transform: scale(1.2);
  }
}

.nextArr {
  font-size: 18px;
  margin-left: 8px;
}

.button {
  background: #ffffff;
  border: 2px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 10px;
  height: 42px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.buttonIcon {
  text-align: center;
  width: 25px;
  display: inline-block;
  font-size: 18px;
}
