@import '../../../scss/media';
@import '../../Header/modalForm.module';

.link {
    font-size: 20px;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
        color: $colorLinkHover;
    }
}
