@import '../../../scss/media';

.logo {
  width: 140px;
}

.inlineLogo {
  height: 16px;
  display: inline;
  margin: 0;
  width: auto;
}

.InfoContainer {
  h1 {
    font-size: 40px;
    margin-top: 60px;
    font-weight: normal;
    text-align: center;
    & > .inlineLogo {
      height: 22px;
    }
  }
  h2 {
    font-size: 40px;
    margin-top: 60px;
    font-weight: normal;
    text-align: center;
  }
  article {
    margin-top: 30px;
    h3 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      margin-top: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .TermOfUseItemsContainer {
    p {
      margin: 0 0 10px 0;
    }
    td {
      vertical-align: top;
      padding: 5px 10px 5px 0;
    }
    li {
      margin: 10px 0 0 20px;
      list-style: disc;
    }
  }
}

.specification {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
