@import '../../scss/media';

.selectWrap {
  position: relative;
  display: inline-block;

  @include mediaMax($screenMd) {
    justify-content: flex-start;
    margin-top: 10px;
  }

  @include mediaZr() {
    display: none;
  }
}

.select {
  background: #FFFFFF;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.selectChk {
  font-size: 16px;
  transition: transform 0.5s ease;
  transform-origin: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-left: 12px;

  &Disabled {
    color: #B6B6B6;
  }
}

.headerSpacer {
  @include mediaMax($screenMd) {
    display: none;
  }
}

.selectWrapOpen {
  .selectChk {
    transform: rotate(180deg);
  }
}

.selectList {
  background: #FFFFFF;
  border-radius: 20px;
  //width: 100%;
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 1;
  overflow: hidden;
  font-size: 20px;
}

.selectItem {
  a {
    display: block;
    padding: 10px 20px;
    transition: color 0.3s ease;

    &:hover {
      background: #eFFFFF;
      color: $colorLinkHover;
    }
  }
}
