@import '../../../scss/media';

.header {
    margin: 28px 0 69px;
    display: flex;

    @include mediaMax($screenMd) {
        //justify-content: space-between;
        flex-direction: column;
        margin: 20px 0;
    }

    @include mediaZr() {
        justify-content: center;
    }
}

.title {
    font-size: 40px;
    line-height: 40px;
    white-space: nowrap;
    padding: 0 20px;

    @include mediaMd() {
        font-size: 36px;
    }

    @include mediaSm() {
        font-size: 32px;
    }

    @include mediaZr() {
        font-size: 28px;
    }
}

.headerSpacer,
.selectTitle {
    flex-grow: 1;
    width: 40%;
    display: flex;
    justify-content: flex-end;

    @include mediaMax($screenMd) {
        display: none;
    }
}

.variants {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.variant {
    background: #FFFFFF;
    border-radius: 10px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 0 10px 10px;
    padding: 0 5px;
    cursor: pointer;
    font-size: 16px;

    &:first-child {
        margin-left: 0;
    }

    &Active {
        background: #3CAA9A;
        color: #ffffff;
    }
}

.info {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleWrap {
    font-size: 25px;
}

.title {
    font-weight: bold;
}

.statisticWrap {
    display: flex;
    align-items: center;
}

.statistic {
    font-size: 40px;

    b {
        font-weight: bold;
    }
}

.statisticDescription {
    font-size: 16px;
    margin-left: 10px;

    @include mediaZr() {
        display: none;
    }
}

.content {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 0 0;
    font-size: 20px;
}
