@import '../../../../scss/media';

.wrapId {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 30px;

    :global(.anticon) {
        font-size: 20px;
        cursor: pointer;
    }

    @include mediaMax($screenMd) {
        flex-direction: column;
        font-size: 20px;
    }
}

.wrapIdText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.id {
    font-weight: bold;
    margin: 0 24px 0 20px;
}
