.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .buttonClose {
    background: #1890FF;
    margin-right: 10px;
  }

  .buttonOk {
    background: #41D177;
  }

  .modal-content {
    width: 535px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }

  .modal-footer {
    padding: 5px 10px 5px;
  }

  .modal-header {
    background: #000589;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerClose {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .modal-title {
    padding-left: 10px;
    margin: 0;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
  }

  .modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .footer-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 4px 10px;
      height: 30px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }
  }
}
