.select {
  //position: relative;
  //background: red;
  width: 100%;
  font-size: 14px;
}

.select__label {
  position: relative;
}

.select__input {
  border: 0;
  background: transparent;
  position: relative;
  top: -2px;
  padding: 0 8px;
  width: 120px;
}

.select__title {
  cursor: pointer;
  padding: 0 8px;
}

.select__chk {
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 250ms linear;

  &_open {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}

.select_options {
  background: #fafafa;
  border: 1px solid #d5d0d7;
  border-radius: 2px;
  position: absolute;
  min-width: 100%;
  top: 20px;
  left: -1px;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;

  //&_right-start,
  //&_left-start {
  //  .select_options-content:before {
  //    content: '';
  //    display: block;
  //    position: absolute;
  //    top: 0;
  //    right: 0;
  //    bottom: 0;
  //    left: 0;
  //    z-index: 10;
  //  }
  //}

  &_right-start {
    .select_options-content {
      right: -100%;
      transition: all ease 0.5s;
    }
  }

  &_right-leave {
    .select_options-content {
      right: 0;
    }
  }

  &_left-start {
    .select_options-content {
      left: -100%;
      transition: all ease 0.5s;
    }
  }

  &_left-leave {
    .select_options-content {
      left: 0;
    }
  }
}

.select_options-content {
  position: relative;
}

.select_option {
  cursor: pointer;
  border-top: 1px solid #d5d0d7;
  padding: 2px 8px;
  position: relative;

  &_back {
    background: #eee;
    font-weight: bold;
    padding: 6px 35px 6px 8px;
  }

  &.selected {
    background: #CEE5F9;
    cursor: default;
  }

  &.disabled {
    color: #C5C5C5;
  }

  &:hover {
    background: #CEE5F9;
  }

  &:first-child {
    border-top: 0;
  }

  b {
    color: #0691F5;
  }
}

.select_option-next {
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  text-align: center;
  line-height: 24px;
  border-left: 1px solid #d5d0d7;
  color: #888;

  &:hover {
    color: #1890FF;
  }
}