.content {
    position: relative;
    outline: none;
}

.button {
    outline: none;
    cursor: pointer;
}

.popup {
    background: #FFFFFF;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
    cursor: default;
}

.popupRight {
    right: 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.options {
    margin-top: 10px;
}

.option {
    padding: 10px;
    border: solid 1px #C9C9C9;
    border-radius: 10px;
    margin-top: 4px;
    font-size: 16px;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }

    &:hover, &Selected {
        background: #3CAA9A;
        border-color: #3CAA9A;
        color: #ffffff;
    }
}
