.ExampleScreen {
    color: green;
}

.ErrorScreen {
    color: red;
}

.ButtonField {
    margin: 10px 5px;
}

.ExampleErrorBlock {
    color: rgb(255, 0, 0);
    padding: 10px;
    border: solid rgb(216, 0, 0) 1px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.267);
}