@import '../../../scss/media';
@import '../../Header/modalForm.module';

.buttonAdd {
    background: #3CAA9A;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    height: 30px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;

    &:last-child {
        margin-right: 0;
    }

    @include mediaZr() {
        margin-bottom: 10px;
    }
}

.button {
    border-radius: 10px;
    color: #FFFFFF;
    padding: 9px 12px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;

    &.ok {
        background: #3CAA9A;
    }

    &.cancel {
        background: #4F505B;
    }
}

.buttonWrapper {
    text-align: right;
}

.buttonIcon {
    margin-right: 10px;
}
