@import '../../../../../scss/media';
.selectWrap {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 20px 9px 10px;
    cursor: pointer;
    display: flex;

    :global(.anticon) {
        margin-left: 12px;
    }
}

.selectList {
    background: #ffffff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    left: -10px;
    border-radius: 10px;
    width: 100%;
    z-index: 10;
}

.selectItem {
    padding: 5px 20px;

    &:hover {
        color: $colorLinkHover;
    }
}
