@import '../../../../scss/media';

.task {
  background: #F5F5F7;
  border: solid 2px #F5F5F7;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 5px 10px;
  padding: 28px 18px;
  width: 285px;
  min-height: 139px;
  text-decoration: none;
  color: #000000;
  position: relative;
  transition: background 0.3s ease, border 0.3s ease;

  @include mediaMd() {
    width: 48%;
  }

  @include mediaSm() {
    width: 47%;
  }

  @include mediaZr() {
    width: 100%;
  }

  &:hover {
    background: #ECECEE;
    border-color: #000000;
  }
}

.taskBody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.recommended {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
  top: -2px;
  right: -2px;
  border-radius: 0 4px 0 0;

  &:before {
    background: #04B0BB;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: -20px;
    right: -10px;
    transform: rotate(45deg);
  }
}

.info {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
}

.number {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  z-index: 1;
}

.content {
  flex-grow: 1;
  color: #000000;
}

.title {
  font-size: 16px;
  line-height: 22px;
}

.desc {
  margin-top: 10px;
  color: #B6B6B6;
  text-align: center;
  font-size: 28px;

  img {
    width: auto;
    max-width: 100%;
  }
}

.addButton {
  background: #3CAA9A;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  color: #FFFFFF;

  &:before {
    content: '+';
    display: block;
    text-align: center;
  }
}
