@import '../../../../scss/media';

.topic {
  background: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 100%;

  .body {
    overflow: hidden;
    height: 0;
  }
}

.header {
  background: #FFFFFF;
  min-height: 40px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 20px;

  .topicOpen & {
    background: #4F505B;
    color: #FFFFFF;
    border-radius: 20px 20px 0 0;

    &:hover {
      background: #4F606B;
    }
  }

  &:hover {
    background: #f0f6f6;
  }
}

.topicChk {
  font-size: 16px;
  transition: transform 0.5s ease;
  transform-origin: center;
  height: 16px;

  .topicOpen & {
    transform: rotate(180deg);
  }
}

.body {
  background: #FFFFFF;
  //transition: height 0.3s ease;
  .topicOpen & {
    height: 100%;
    overflow: inherit;
    border-radius: 0 0 20px 20px;
  }
}

.list {
  padding: 10px 7px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;

  @include media($screenSm, $screenLg) {
    justify-content: space-around;
  }
}
