@import '../../../scss/media';
@import '../SingIn/SingIn.module';

.content {
    max-width: 420px;
    margin: 100px auto 0;
    padding: 20px;
}

.success {
    margin: 40px 0;
    font-size: 30px;
    text-align: center;
}

