@import "../scss/media";

.appContent {
    flex: 1 0 auto;
    width: 100%;
    padding-bottom: 60px;

    &Main {
        background: url('../img/bg.png') no-repeat center bottom;
        background-size: cover;

        @include mediaMax($screenEx) {
            background-size: contain;
        }
    }
}
