.MainContainer {
    display: flex;
    max-width: 1300px;
    padding: 0 32px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
}
