@import '../../../../scss/media';

.titleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.anticon) {
        font-size: 24px;
        cursor: pointer;
    }
}

.title {
    margin-right: 24px;
}

.icon {
    outline: none;
}

.descTitle {
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
}

.form {
    display: flex;
    margin-top: 18px;

    @include mediaMax($screenMd) {
        flex-direction: column;
    }

}

.input {
    background: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 10px 8px;
    flex-grow: 1;
    font-size: 20px;
}

.buttons {
    display: flex;
}

.button {
    background: #3CAA9A;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: 20px;

    &Cancel {
        background: #4F505B;
    }

    @include mediaMax($screenMd) {
        margin-top: 20px;

        &:first-child {
            margin-left: 0;
        }
    }

}
