@import '../../../scss/media';

.header {
  margin: 28px 0 69px;
  display: flex;

  @include mediaMax($screenMd) {
    //justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
  }

  @include mediaZr() {
    justify-content: center;
  }
}

.title {
  font-size: 40px;
  line-height: 40px;
  white-space: nowrap;
  padding: 0 20px;

  @include mediaMd() {
    font-size: 36px;
  }

  @include mediaSm() {
    font-size: 32px;
  }

  @include mediaZr() {
    font-size: 28px;
  }
}

.headerSpacer,
.selectTitle {
  flex-grow: 1;
  width: 40%;
  display: flex;
  justify-content: flex-end;

  @include mediaMax($screenMd) {
    display: none;
  }
}
