@import '../../scss/media';

.header {
  background: $backgroundHeader;
  color: #FFFFFF;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;

  @include mediaZr() {
    display: none;
  }
}

.logo {
  width: 117px;
  @include mediaSm() {
    width: 80px;
  }

  @include mediaZr() {
    display: none;
  }
}

.statistic {
  background: #4F505B;
  border: 2px solid #FFD961;
  box-sizing: border-box;
  border-radius: 10px;
  height: 44px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-left: 20px;

  @include mediaMax($screenLg) {
    display: none;
  }
}

.statisticCountAll {
  color: #FFD961;
  font-size: 30px;
  margin-right: 10px;
}

.statisticTextAll {
  color: #FFD961;
  font-size: 16px;
  white-space: nowrap;
  margin-right: 10px;
  line-height: 12px;
}

.statisticCountResolved {
  color: #FFFFFF;
  font-size: 20px;
  margin-right: 10px;
}

.statisticTextResolved {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mediaZr() {
    flex-grow: 1;
  }
}

.links {
  margin-right: 60px;

  @include mediaSm() {
    margin-right: 10px;
  }

  @include mediaZr() {
    flex-grow: 1;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.link {
  margin: 5px 0 5px 20px;
  font-size: 16px;
  transition: color 0.3s ease;
  white-space: nowrap;

  @include mediaSm() {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $colorLinkHover;
  }
}

.linkMain {
  display: none;

  @include mediaZr() {
    display: inline;
  }
}

.enter {
  background: #FFD961;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
  margin-left: 60px;
  padding: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  @include mediaMax($screenMd) {
    margin-left: 20px;
  }
}

.account {
  margin-left: 24px;
  font-size: 20px;
  color: #FFD961;
}

.logout {
  margin-left: 10px;
  font-size: 20px;
}
