@import '../../scss/media';

.modal {
    .modalContent {
        width: 480px;
        padding: 40px;
        border-radius: 20px;

        @include mediaZr() {
            padding: 20px;
            width: 100%;
            border-radius: 0;
        }
    }

    .modalBody {
        border: 0;
    }
}
