@import '../../scss/media';

.title {
    font-size: 30px;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: uppercase;
}

.buttonWrapper {
    margin-top: 20px;
    text-align: center;
}

.button {
    background: #3CAA9A;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: $colorLinkHover;
    }

    &:disabled {
        background: gray;
    }
}

.footer {
    border-top: 2px solid #DADADA;
    margin-top: 20px;
    padding: 20px 0 0;
    text-align: center;

    span {
        outline: none;
    }
}
