@import '../../scss/media';

.search {
  position: relative;
  width: 250px;

  @include mediaSm() {
    width: 200px;
  }

  @include mediaZr() {
    flex-grow: 1;
  }
}

.input {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  font-size: 14px;
  padding: 4px;

  &:focus {
    border: solid 1px #1890ff;
    box-shadow: 0 0 10px 0 rgba(24, 144, 255, 0.2);
  }
}

.icon {
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 28px;
  height: 28px;
  z-index: 2;
}
