@import '../../../scss/media';

.input {
    background: #FFFFFF;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    height: 34px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 6px;
    outline: none;
    width: 100%;
}

.inputError {
    border-color: #EA5455;
}

/* AUTH STYLE { */
.wrap:global(.default),
.wrap:global(.auth) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    @include mediaZr() {
        flex-direction: column;
        align-items: flex-start;
    }

    .label {
        flex-basis: 100px;
        margin-right: 10px;
        font-size: 20px;
        flex-grow: 1;
        flex-shrink: 1;
        padding-top: 6px;

        @include mediaZr() {
            flex-basis: auto;
        }
    }

    .inputWrap {
        flex-basis: 290px;

        @include mediaZr() {
            flex-basis: auto;
            width: 100%;
        }
    }

    .input {
        @include mediaZr() {
            flex-basis: 34px;
            margin-top: 5px;
        }
    }
}
/* } */

/* BREAK STYLE { */
.wrap:global(.break) {
    display: block;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    .label {
        font-size: 14px;
        display: block;
        margin: 0 0 5px;
    }
}
/* } */
