@import '../../../scss/media';
@import '../../Header/modalForm.module';

.content {
    max-width: 420px;
    margin: 100px auto 0;
    padding: 20px;
}

.resendCodeBlock {
    margin-top: 10px;
    text-align: center;
}

.resendCode {
    text-decoration: underline;
    cursor: pointer;
}
