@import '../../../../scss/media';
@import '../../../Header/modalForm.module';

.buttons {
    margin: 60px 0 0;
    display: flex;
    justify-content: flex-end;
}

.buttonAdd {
    background: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
    overflow: visible;
    transition: all 0.3s ease;

    &:before {
        content: '+';
        font-size: 24px;
        margin-right: 10px;
    }

    &:hover {
        border-color: $colorLinkHover;
        color: $colorLinkHover;
    }
}

.button {
    border-radius: 10px;
    color: #FFFFFF;
    padding: 9px 12px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;

    &.ok {
        background: #3CAA9A;
    }

    &.cancel {
        background: #4F505B;
    }
}

.buttonWrapper {
    text-align: right;
}

.buttonIcon {
    margin-right: 10px;
}
