@import '../../../../scss/media';

.modal {
    .modalContent {
        width: 535px;

        @include mediaZr() {
            width: 100%;
        }
    }

    .modalHeader {
        background: #4F505B;
        height: 50px;
    }

    .modalTitle {
        font-size: 16px;
        font-weight: bold;
    }

    .modalBody {
        border: 0;
    }
}
