@import '../../../../scss/media';

.teachers {
    margin-top: 63px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @include mediaMax($screenMd) {
        flex-direction: column;
        margin-top: 30px;
    }
}

.teachersTitle {
    font-size: 20px;
    margin: 10px 10px 10px 0;

    @include mediaMax($screenMd) {
        text-align: left;
        width: 100%;
        padding-left: 20px;
    }
}

.teacher {
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.teacherName {
    padding: 9px 10px 9px 20px;
    font-size: 20px;

    @include mediaZr() {
        font-size: 12px;
        font-weight: bold;
    }
}

.teacherAccess {
    max-width: 160px;
}

.teacherSpace {
    background: #DADADA;
    overflow: hidden;
    width: 1px;
    height: 32px;
    margin-top: 4px;
}

.teacherId {
    font-size: 12px;
    padding: 9px 10px;
}

.empty {
    margin: 60px auto 0;
    font-size: 30px;
    text-align: center;
    max-width: 500px;

    p {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include mediaMax($screenMd) {
        font-size: 20px;
    }
}

.trainings {
    margin-top: 50px;
}
