.createFolder {
  font-size: 14px;

  .folderNameInput {
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    border-radius: 2px;
    width: 515px;
    padding: 5px 5px;
    margin-top: 5px;
  }

  .inputTexts {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
  }

  .required {
    color: #EA5455;
  }
}
