@import '../../../scss/media';
@import '../../Header/modalForm.module';

.back {
    font-size: 12px;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;

    &:hover {
        color: $colorLinkHover;

        .backImg {
            transform: scale(1.5);
        }
    }
}

.backImg {
    transition: transform 0.3s ease;
}

.backText {
    margin-left: 6px;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin: 24px auto 0;
    text-align: center;
}

.switchType {
    display: flex;
    margin: 20px 0;
}

.switchTypeOption {
    background: #DADADA;
    flex-basis: 50%;
    height: 34px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 20px;

    &:first-child {
        border-radius: 20px 0 0 20px;
    }

    &:last-child {
        border-radius: 0 20px 20px 0;
    }
}

.switchTypeOptionActive {
    background: #FFD961;
;
}

.enter {
    //border-top: 2px solid #DADADA;
    //margin-top: 20px;
    //padding-top: 20px;
}

.desc {
    line-height: 1;
    margin-bottom: 10px;
}

.checkboxWrap {
    display: flex;
    align-items: center;
    margin: 20px 0;

    a {
        color: #002ED0;
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
            color: $colorLinkHover;
        }
    }
}

.checkboxText {
    margin-left: 10px;
    flex-grow: 1;
}
