@import '../../scss/media';

.footer {
  background: $backgroundFooter;
  color: #FFFFFF;
  flex: 0 0 auto;
  width: 100%;
  padding: 10px 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBlock {
  width: 117px;
  text-align: center;
}

.copyright {
  margin-top: 10px;
}

.rightBlock {
  a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link {
  text-transform: uppercase;
}

.logo {
  width: 117px;
}
