@import '../../scss/media';

.tableWrap {
  overflow-x: auto;
  margin-top: 30px;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;

  th {
    font-weight: normal;
    border: solid 1px #cccccc;
    border-top: 0;
    vertical-align: bottom;
  }

  .tdTitle {
    min-width: 270px;
    border: solid 1px #cccccc;
    border-top: 0;
    border-left: 0;
    line-height: 1;

    @include mediaZr() {
      min-width: 150px;
    }
  }
}

.closeIconWrap {
  margin: 0 10px;
  cursor: pointer;
}

.tdTitleHead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100px;
  font-weight: bold;
  padding-bottom: 20px;
}

.tdTitleHeadTop {
  align-self: flex-end;
  padding-right: 30px;
}

.colFio {
  max-width: 28px;
  padding: 20px 12px;
  height: 100px;
}

.fio {
  transform: rotate(-90deg);
  white-space: nowrap;
}

.gradeTd {
  border: solid 1px #cccccc;
  text-align: center;
  padding: 7px 0;
  min-width: 53px;

  &Bad {
    background: #FF2559;
  }
  &Good {
    background: #FFB525;
  }
  &Excellent {
    background: #04CF00;
  }
}

.tenths {
  font-size: 8px;
}
