@import '../../../scss/media';

.content {
  text-align: center;
}

.title {
  margin: 50px 0;
  font-size: 56px;

  @include mediaSm() {
    font-size: 30px;
    margin: 40px 0;
  }

  @include mediaZr() {
    font-size: 20px;
    margin: 20px 0;
  }
}

.logo {
  width: 184px;
  height: 40px;
  margin: 14px 15px 0 0;
  vertical-align: top;

  @include mediaSm() {
    width: 115px;
    height: 25px;
    margin: 5px 10px 0 0;
  }

  @include mediaZr() {
    width: 92px;
    height: 20px;
    margin: 2px 10px 0 0;
  }
}

.subtitle {
  font-size: 40px;
  margin: 50px 0;

  @include mediaSm() {
    font-size: 25px;
    margin: 40px 0;
  }

  @include mediaZr() {
    font-size: 18px;
    margin: 20px 0;
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.itemLink {
  margin: 0 0 30px;

  @include mediaSm() {
    margin: 0 0 20px;
  }

  @include mediaZr() {
    width: 100%;
    margin: 0 0 20px;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 100px;
  border-radius: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 40px;
  margin: 0 15px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1)
  }

  @include mediaSm() {
    font-size: 30px;
    margin: 0 12px;
    min-width: 160px;
    height: 80px;
  }

  @include mediaZr() {
    font-size: 20px;
    width: 100%;
    height: 60px;
    margin: 0;

    &:hover {
      transform: none;
    }
  }
}

.type1 {
  background: rgba(34, 127, 184, 0.5);
}

.type2 {
  background: rgba(34, 127, 184, 0.75);
}

.type3 {
  background: rgba(34, 127, 184, 1);
}

.type4 {
  background: #FC6B58;
}

.type5 {
  background: #FB0C4D;
}
