@import '../../../scss/media';

.buttons {
  margin: 60px 0 0;
  display: flex;
  justify-content: flex-end;
}

.buttonAdd {
  background: #FFFFFF;
  border: solid 1px #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 0 20px;
  height: 40px;
  cursor: pointer;
  overflow: visible;
  transition: all 0.3s ease;

  &:before {
    content: '+';
    font-size: 24px;
    margin-right: 10px;
  }

  &:hover {
    border-color: $colorLinkHover;
    color: $colorLinkHover;
  }
}

.empty {
  margin: 60px auto 0;
  font-size: 30px;
  line-height: 30px;
  max-width: 500px;
  text-align: center;
}
