@import '../../scss/media';

.wrap {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  margin: 30px 0 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media(0, $screenMd) {
    flex-direction: column;
  }
}

.titleEdit {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2px;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  padding: 0 5px;
  min-height: 40px;
  text-transform: none;
  outline: none;
  -webkit-appearance: button;
  transition: box-shadow 0.3s ease;

  &:focus {
    box-shadow: 0 0 4px rgb(159, 198, 240);
  }
}

.hButtons {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.hButton {
  background: transparent;
  border: none;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 19px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $colorLinkHover;
  }
}

.desc {
  margin-top: 30px;
  font-size: 20px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;

  @include mediaZr {
    flex-direction: column;
    align-items: flex-start;
  }
}

.button {
  background: #3CAA9A;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  height: 30px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  @include mediaZr() {
    margin-bottom: 10px;
  }
}

.buttonText {
  font-size: 14px;
  margin-left: 12px;
}
