.container {
  width: 600px;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.title {
  font-size: 30px;
  margin: 0 auto 10px;
}

.link {
  text-decoration: underline;
  margin: 0 5px;
  cursor: pointer;
}
