@import "media";
@import "tooltip";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  background: #F2F2F2;
  font-size: 14px;
}

body {
  overflow-y:scroll;
}

input {
  outline: none;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  text-transform: none;
  outline: none;
  -webkit-appearance: button;
  font-size: 14px;
}

#app {
  background: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  align-items: center;
}

.containerEx {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @include mediaZr() {
    padding: 0 10px;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @include mediaZr() {
    padding: 0 10px;
  }
}

.mainTitle {
  margin-top: 18px;
  font-size: 40px;
  text-align: center;

  @include mediaMd() {
    font-size: 35px;
  }

  @include mediaSm() {
    font-size: 30px;
  }

  @include mediaZr() {
    font-size: 24px;
    text-align: left;
  }
}
