// https://webdesign.tutsplus.com/ru/tutorials/css-tooltip-magic--cms-28082
[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after,
[tooltip] .tooltip__content {
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;

  /* opinions */
  text-transform: none;
  font-size: .9em;
}

[tooltip]::before {
  content: '';
  z-index: 1001;
  border: 5px solid transparent;
}

// --------------------------- CONTENT --------------------------------
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  z-index: 1000;

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
  Let the content set the size of the tooltips
  but this will also keep them from being obnoxious
  */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* visible design of the tooltip bubbles */
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
}

[tooltip] .tooltip__content {
  z-index: 1000;

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
  Let the content set the size of the tooltips
  but this will also keep them from being obnoxious
  */
  min-width: 20em;
  max-width: 41em;

  /* visible design of the tooltip bubbles */
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
}

// --------------------------- HOVER --------------------------------
[tooltip]:hover::before,
[tooltip]:hover::after,
[tooltip]:hover .tooltip__content {
  display: block;
}

// --------------------------- EMPTY --------------------------------
/* don't show empty tooltips */
//[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}


// --------------------------- UP --------------------------------
/* ONLY the ::before */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

/* ONLY the ::after */
[tooltip]:not([flow])::after,
[tooltip]:not([flow]) .tooltip__content,
[tooltip][flow^="up"]::after,
[tooltip][flow^="up"] .tooltip__content {
  bottom: calc(100% + 5px);
}

/* Both ::before & ::after */
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip]:not([flow]) .tooltip__content,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after,
[tooltip][flow^="up"] .tooltip__content {
  left: 50%;
  transform: translate(-50%, -.5em);
}


// --------------------------- DOWN --------------------------------
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after,
[tooltip][flow^="down"] .tooltip__content {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after,
[tooltip][flow^="down"] .tooltip__content {
  left: 50%;
  transform: translate(-50%, .5em);
}


// --------------------------- LEFT --------------------------------
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after,
[tooltip][flow^="left"] .tooltip__content {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}


// --------------------------- RIGHT --------------------------------
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after,
[tooltip][flow^="right"] .tooltip__content {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}


// --------------------------- ANIMATE --------------------------------
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}



// --------------------------- HOVER ANIMATE --------------------------------
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip]:not([flow]):hover .tooltip__content,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="up"]:hover .tooltip__content,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after,
[tooltip][flow^="down"]:hover .tooltip__content {
  animation:
          tooltips-vert
          300ms
          ease-out
          forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="left"]:hover .tooltip__content,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after,
[tooltip][flow^="right"]:hover .tooltip__content {
  animation:
          tooltips-horz
          300ms
          ease-out
          forwards;
}