@import '../../scss/media';

.tableWrap {
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 620px;
  margin-top: 15px;

  tr, td, th {
    border: none;
  }

  td, th {
    padding: 10px;
    font-weight: normal;
    vertical-align: center;
  }
}

.nameTd {
  text-align: left;
}

.id {
  background: #D6D6D6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
}

.idTd,
.statusTd {
  width: 166px;
  text-align: center;
}

td.statusTd {
  font-weight: bold;

  &:global(.waiting) {
    color: #FF7A1A;
  }

  &:global(.accessed) {
    color: #1F9D00;
  }

  &:global(.access_denied) {
    color: #D70000;
  }
}

.closeTd {
  width: 20px;
}

.input {
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  padding: 8px;
  text-align: left;
}

.closeIcon {
  cursor: pointer;
  outline: none;
}
