@import '../../../scss/media';

.nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.navText {
  @include mediaZr() {
    display: none;
  }
}

.navLeft,
.navRight {
  width: 300px;
  display: flex;
  align-items: center;

  @include mediaZr() {
    width: auto;
  }
}

.navLeft {
  justify-content: left;
  padding-right: 5px;
}

.navRight {
  justify-content: flex-end;
  text-align: right;
  padding-left: 5px;
}

.arrLeft,
.arrRight {
  background: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px #FFFFFF;
  color: #000000;
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  display: block;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    border-color: $colorLinkHover;
    color: $colorLinkHover;
    transform: scale(1.2);
  }
}

.arrLeft {
  margin-right: 20px;
}

.arrRight {
  margin-left: 20px;
}

.titleWrap {
  background: #FFFFFF;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex-grow: 1;
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
}

.info {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.addButton {
  background: #3CAA9A;
  border: solid 2px #3CAA9A;
  border-radius: 30px;
  color: #FFFFFF;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '+';
    font-size: 40px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
